@page "/"
@inherits Phantom.Web.Components.PhantomComponent

<h1>Home</h1>

@if (username != null) {
   <p>Welcome back, @username!</p>
}

@code {

  private string? username = null;
  
  protected override async Task OnInitializedAsync() {
    username = (await GetAuthenticatedUser())?.Info.Name;
  }

}
