@page "/users"
@using Phantom.Controller.Database.Entities
@using Phantom.Controller.Services.Users
@using System.Collections.Immutable
@attribute [Authorize(Permission.ViewUsersPolicy)]
@inject UserManager UserManager
@inject UserRoleManager UserRoleManager
@inject PermissionManager PermissionManager

<h1>Users</h1>

<PermissionView Permission="Permission.EditUsers">
  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#add-user">Add User...</button>
</PermissionView>

<AuthorizeView>
  <Authorized>
    @{ var canEdit = PermissionManager.CheckPermission(context.User, Permission.EditUsers); }
    <table class="table align-middle">
      <thead>
        <tr>
          <Column Width="320px">Identifier</Column>
          <Column Width="125px; 40%">Username</Column>
          <Column Width="125px; 60%">Roles</Column>
          @if (canEdit) {
            <Column Width="175px">Actions</Column>
          }
        </tr>
      </thead>
      <tbody>
        @{ var myUserId = UserManager.GetAuthenticatedUserId(context.User); }
        @foreach (var user in allUsers) {
          var isMe = myUserId == user.UserGuid;
          <tr>
            <td>
              <code class="text-uppercase">@user.UserGuid</code>
            </td>
            @if (isMe) {
              <td class="fw-semibold">@user.Name</td>
            }
            else {
              <td>@user.Name</td>
            }
            <td>@(userGuidToRoleDescription.TryGetValue(user.UserGuid, out var roles) ? roles : "?")</td>
            @if (canEdit) {
              <td>
                @if (!isMe) {
                  <button class="btn btn-primary btn-sm" @onclick="() => userRolesDialog.Show(user)">Edit Roles</button>
                  <button class="btn btn-danger btn-sm" @onclick="() => userDeleteDialog.Show(user)">Delete...</button>
                }
              </td>
            }
          </tr>
        }
      </tbody>
    </table>
  </Authorized>
</AuthorizeView>

<PermissionView Permission="Permission.EditUsers">
  <UserAddDialog ModalId="add-user" UserAdded="OnUserAdded" />
  <UserRolesDialog @ref="userRolesDialog" ModalId="manage-user-roles" UserModified="OnUserRolesChanged" />
  <UserDeleteDialog @ref="userDeleteDialog" ModalId="delete-user" UserModified="OnUserDeleted" />
</PermissionView>

@code {

  private ImmutableArray<UserEntity> allUsers = ImmutableArray<UserEntity>.Empty;
  private readonly Dictionary<Guid, string> userGuidToRoleDescription = new();

  private UserRolesDialog userRolesDialog = null!;
  private UserDeleteDialog userDeleteDialog = null!;

  protected override async Task OnInitializedAsync() {
    var unsortedUsers = await UserManager.GetAll();
    allUsers = unsortedUsers.Sort(static (a, b) => a.Name.CompareTo(b.Name));
    
    foreach (var (userGuid, roles) in await UserRoleManager.GetAllByUserGuid()) {
      userGuidToRoleDescription[userGuid] = StringifyRoles(roles);
    }
    
    foreach (var user in allUsers) {
      await RefreshUserRoles(user);
    }
  }

  private async Task RefreshUserRoles(UserEntity user) {
    var roles = await UserRoleManager.GetUserRoles(user);
    userGuidToRoleDescription[user.UserGuid] = StringifyRoles(roles);
  }

  private static string StringifyRoles(ImmutableArray<RoleEntity> roles) {
    return roles.IsEmpty ? "-" : string.Join(", ", roles.Select(static role => role.Name));
  }

  private Task OnUserAdded(UserEntity user) {
    allUsers = allUsers.Add(user);
    return RefreshUserRoles(user);
  }

  private Task OnUserRolesChanged(UserEntity user) {
    return RefreshUserRoles(user);
  }

  private void OnUserDeleted(UserEntity user) {
    allUsers = allUsers.Remove(user);
    userGuidToRoleDescription.Remove(user.UserGuid);
  }

}
