@using Phantom.Web.Components.Utils
@if (Url == null) {
  <td @attributes="AdditionalAttributes">
    @ChildContent
  </td>
}
else {
  <td @attributes="AdditionalAttributes" class="@(BlazorUtils.CombineClassNames(AdditionalAttributes, "p-0"))">
    <a class="table-link" href="@Url">@ChildContent</a>
  </td>
}

@code {

  [CascadingParameter(Name = "Url")]
  public string? Url { get; set; }

  [Parameter]
  public RenderFragment? ChildContent { get; set; }

  [Parameter(CaptureUnmatchedValues = true)]
  public IReadOnlyDictionary<string, object>? AdditionalAttributes { get; set; }

}
