@page
@using Phantom.Web.Services
@model Phantom.Web.Layout.ErrorModel
@inject Navigation Navigation

<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <base href="@Navigation.BasePath" />
    <link href="css/site.css" rel="stylesheet" />
    <title>Phantom Panel - Error</title>
  </head>

  <body>
    <div class="body">
      <main>
        <h1 class="text-danger">Error.</h1>
        <h2 class="text-danger">An error occurred while processing your request.</h2>

        @if (!string.IsNullOrEmpty(Model.RequestId)) {
          <p>
            <strong>Request ID:</strong>
            <code>@Model.RequestId</code>
          </p>
        }
      </main>
    </div>
  </body>

</html>
