@using Phantom.Web.Errors
@using Phantom.Web.Services
@inject Navigation Navigation

<CascadingAuthenticationState>
  <Router AppAssembly="@typeof(App).Assembly" NotFoundPage="typeof(NotFound)">
    <Found Context="routeData">
      <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
        <NotAuthorized>
          @if (context.User.Identity is { IsAuthenticated: true }) {
            <h1>Forbidden</h1>
            <p role="alert">You do not have permission to visit this page.</p>
          }
          else {
            _ = Navigation.NavigateTo("login" + QueryString.Create("return", Navigation.CreateReturnUrl()), forceLoad: true);
          }
        </NotAuthorized>
      </AuthorizeRouteView>
      <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
  </Router>
</CascadingAuthenticationState>
