@page "/agents"

<h1>Agents</h1>

@foreach (var agent in agents) {
  <p>@agent.Guid - @agent.Name</p>
}

@using Phantom.Server.Services.Agents
@using System.Collections.Immutable
@using Phantom.Server.Services
@implements IDisposable
@code {
  private ImmutableList<AgentInfo> agents = ImmutableList<AgentInfo>.Empty;
  
  protected override void OnInitialized() {
    Services.AgentManager.AgentInfoChanged.Subscribe(this, agents => {
      this.agents = agents;
      InvokeAsync(StateHasChanged);
    });
  }

  void IDisposable.Dispose() {
    Services.AgentManager.AgentInfoChanged.Unsubscribe(this);
  }
}
