@page "/agents"

<h1>Agents</h1>

<table class="table table-sm">
  <thead>
    <tr>
      <th>Identifier</th>
      <th>Name</th>
    </tr>
  </thead>
  <tbody>
    @if (!agents.IsEmpty) {
      @foreach (var agent in agents) {
        <tr>
          <td>@agent.Guid.ToString().ToUpperInvariant()</td>
          <td>@agent.Name</td>
        </tr>
      }
    }
    <tr>
      <td colspan="2">
        @(agents.IsEmpty ? "No agents registered." : "")
        Register new agents using the token: <code>@Services.AgentManager.AuthToken</code>
      </td>
    </tr>
  </tbody>
</table>
@using Phantom.Server.Services.Agents
@using System.Collections.Immutable
@using Phantom.Server.Services
@implements IDisposable

@code {
  private ImmutableList<AgentInfo> agents = ImmutableList<AgentInfo>.Empty;

  protected override void OnInitialized() {
    Services.AgentManager.AgentInfoChanged.Subscribe(this, agents => {
      this.agents = agents;
      InvokeAsync(StateHasChanged);
    });
  }

  void IDisposable.Dispose() {
    Services.AgentManager.AgentInfoChanged.Unsubscribe(this);
  }

}
