@import url('../lib/bootstrap/bootstrap.min.css');
@import url('../lib/openiconic/css/open-iconic-bootstrap.min.css');
@import url('./blazor.css');

.body {
  position: relative;
  display: flex;
  flex-direction: column;
}

.sidebar {
  background-image: linear-gradient(180deg, #0f6477 200px, #1b3d59 1000px);
}

@media (min-width: 960px) {
  .body {
    flex-direction: row;
  }
  
  .sidebar {
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 0;
    width: 250px;
    min-height: 100vh;
  }
}

main {
  flex: 1;
  padding: 1.1rem 1.5rem 0;
}

h1:focus {
  outline: none;
}

code {
  font-size: 0.925rem;
}

.table {
  margin-top: 0.5rem;
}

.table > :not(:first-child) {
  border-top: 2px solid #a6a6a6;
}

.table > :not(caption) > * > * {
  padding: 0.5rem 0.75rem;
}

.form-range {
  height: 2.5rem;
}

.text-redacted {
  opacity: 0.5;
}

.text-condensed {
  font-size: 0.9rem;
  line-height: 1.05rem;
}

.text-condensed code {
  font-size: 0.9rem;
}
