@import url('../lib/bootstrap/bootstrap.min.css');
@import url('../lib/openiconic/css/open-iconic-bootstrap.min.css');
@import url('./blazor.css');

:root {
  --range-split: 100%;
}

.body {
  position: relative;
  display: flex;
  flex-direction: column;
}

.sidebar {
  background-image: linear-gradient(180deg, #0f6477 200px, #1b3d59 1000px);
  border-right: 1px solid rgba(2, 39, 47, 0.5);
  box-shadow: 0 0 2px #093c47;
}

@media (min-width: 960px) {
  .body {
    flex-direction: row;
  }
  
  .sidebar {
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 0;
    width: 230px;
    height: 100vh;
  }
}

main {
  flex: 1;
  min-width: 0;
  padding: 1.1rem 1.5rem 0;
}

h1 {
  font-size: 2rem;
  font-weight: 600;
}

h1:focus {
  outline: none;
}

code {
  font-size: 0.925rem;
  word-break: break-word;
}

.btn {
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
}

.table {
  margin-top: 0.5rem;
  white-space: nowrap;
  --bs-table-hover-bg: rgba(15, 100, 119, 0.05);
}

.table > :not(:first-child) {
  border-top: 2px solid #a6a6a6;
}

.table th,
.table td,
.table td > .table-link {
  padding: 0.5rem 1.25rem;
}

.table .table-link {
  display: block;
  color: inherit;
  text-decoration: none;
}

.table p {
  margin: 0;
}

.table small {
  display: block;
  font-weight: normal;
  font-size: 0.825rem;
  color: #666;
}

.table small.font-monospace {
  font-size: 0.875rem;
}

.form-range {
  height: 2.5rem;
}

.form-range.split-danger::-moz-range-track {
  width: calc(100% - 1rem);
  background: linear-gradient(to right, #dfd7ca 0%, #dfd7ca var(--range-split), #bf8282 var(--range-split), #bf8282 100%);
}

.form-range.split-danger::-webkit-slider-runnable-track {
  /* centering fix does not work in Chrome */
  background: linear-gradient(to right, #dfd7ca 0%, #dfd7ca var(--range-split), #bf8282 var(--range-split), #bf8282 100%);
}

.form-submit-errors {
  width: 100%;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.modal-footer .form-submit-errors {
  margin-top: 0;
}

.text-redacted {
  opacity: 0.5;
}

.text-condensed {
  font-size: 0.9rem;
  line-height: 1.15rem;
}

.text-condensed code {
  font-size: 0.9rem;
}

.horizontal-scroll {
  overflow-x: auto;
  scrollbar-width: thin;
  margin-bottom: 1rem;
}

.horizontal-scroll > .table {
  margin-bottom: 0;
}
