@using Phantom.Controller.Database.Entities
@using Phantom.Controller.Services.Audit
@using Phantom.Controller.Services.Users
@inherits UserEditDialogBase
@inject UserManager UserManager
@inject AuditLog AuditLog

<Modal Id="@ModalId" TitleText="Delete User">
  <Body>
    You are about to delete the user <strong class="fw-semibold">@EditedUserName</strong>.<br>
    This action cannot be undone.
  </Body>
  <Footer>
    <FormSubmitError Model="SubmitModel" />
    <FormButtonSubmit Model="SubmitModel" Label="Delete User" type="button" class="btn btn-danger" @onclick="Submit" />
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" @onclick="OnClosed">Cancel</button>
  </Footer>
</Modal>

@code {

  protected override async Task DoEdit(UserEntity user) {
    switch (await UserManager.DeleteByGuid(user.UserGuid)) {
      case DeleteUserResult.Deleted:
        await AuditLog.AddUserDeletedEvent(user);
        await OnEditSuccess();
        break;

      case DeleteUserResult.NotFound:
        await OnEditSuccess();
        break;
        
      case DeleteUserResult.Failed:
        OnEditFailure("Could not delete user.");
        break;
    }
  }

}
