@using Phantom.Common.Data.Web.Users
@using Phantom.Web.Services.Users
@inherits UserEditDialogBase
@inject UserManager UserManager

<Modal Id="@ModalId" TitleText="Delete User">
  <Body>
    You are about to delete the user <strong class="fw-semibold">@EditedUserName</strong>.<br>
    This action cannot be undone.
  </Body>
  <Footer>
    <FormSubmitError Model="SubmitModel" />
    <FormButtonSubmit Model="SubmitModel" Label="Delete User" type="button" class="btn btn-danger" @onclick="Submit" />
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" @onclick="OnClosed">Cancel</button>
  </Footer>
</Modal>

@code {

  protected override async Task DoEdit(Guid loggedInUserGuid, UserInfo user) {
    switch (await UserManager.DeleteByGuid(loggedInUserGuid, user.Guid, CancellationToken)) {
      case DeleteUserResult.Deleted:
      case DeleteUserResult.NotFound:
        await OnEditSuccess();
        break;

      case DeleteUserResult.Failed:
        OnEditFailure("Could not delete user.");
        break;
    }
  }

}
