@using Phantom.Server.Services
@inject ServiceConfiguration Configuration

<div class="navbar navbar-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="">Phantom Panel</a>
    <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</div>

<div class="navbar-menu @NavMenuCssClass" @onclick="ToggleNavMenu">
  <nav>
    <NavMenuItem Label="Home" Icon="home" Match="NavLinkMatch.All" />
    <AuthorizeView>
      <NotAuthorized>
        <NavMenuItem Label="Login" Icon="account-login" Href="login" />
      </NotAuthorized>
      <Authorized>
        <NavMenuItem Label="Instances" Icon="folder"         Href="instances" />
        <NavMenuItem Label="Agents"    Icon="cloud"          Href="agents" />
        <NavMenuItem Label="Logout"    Icon="account-logout" Href="logout" />
      </Authorized>
    </AuthorizeView>
  </nav>
  <footer>
    Build @Configuration.Version
  </footer>
</div>

@code {

  private bool collapseNavMenu = true;

  private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

  private void ToggleNavMenu() {
    collapseNavMenu = !collapseNavMenu;
  }

}
